[Unit]
Description=Salud del PC de Apogeo (baja la velocidad si se calienta)

[Service]
ExecStart=/usr/lib/apogeo/apogeo-termico
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
