[Desktop Entry]
Type=Application
Name=Buscador de Apogeo
Comment=Busca apps, archivos, ajustes o en la web
Exec=/usr/lib/apogeo/apogeo-buscador
Icon=apogeo
NoDisplay=true
X-KDE-Shortcuts=Meta,Alt+Space,Search
